In [1]:
# dictionary mai index nhi hota ,key use hotey ha
# symbol is {  }

#my_dict= {key:value, key:value, key:value}

# eg= {"name":"ammar","class":"AI"}

In [2]:
mydict={"name":"ammar","age":22,"gender":"M"}
len(mydict)

3

# Adding a new key-value

In [3]:
mydict["email"]="ammarejaz1874@gmail.com"

In [4]:
mydict

{'name': 'ammar', 'age': 22, 'gender': 'M', 'email': 'ammarejaz1874@gmail.com'}

# access information from dictionary

In [5]:
mydict["name"]

'ammar'

In [6]:
print(mydict["name"])

ammar

In [7]:
mydict["age"]

22

In [8]:
mydict["email"]

'ammarejaz1874@gmail.com'

In [10]:
newdict={1:"ammar",2:"ahmed"}

In [11]:
newdict[1]

'ammar'

In [12]:
newdict[2]

'ahmed'

# deleting a key element

In [13]:
del newdict[1]

In [14]:
newdict

{2: 'ahmed'}

# updating a key value

In [15]:
mydict

{'name': 'ammar', 'age': 22, 'gender': 'M', 'email': 'ammarejaz1874@gmail.com'}

In [16]:
mydict["email"]="ammarahmed1874@gmail.com"

In [17]:
mydict

{'name': 'ammar',
 'age': 22,
 'gender': 'M',
 'email': 'ammarahmed1874@gmail.com'}

In [18]:
adic={1:100,2:200,3:300,1:1000}  # same name key over write ho jatey ha

In [19]:
adic

{1: 1000, 2: 200, 3: 300}

In [20]:
1 in adic

True

In [21]:
"age" in mydict

True

In [22]:
"Age" in mydict

False

# list of dictionary

In [23]:
student=[]

In [24]:
student.append({"name":"ammar","class":"AI","age":22})

In [25]:
student.append({"name":"ahmed","class":"AI","age":20})

In [26]:
# access information from a list of dictionary
for students in student:
    print(students)

{'name': 'ammar', 'class': 'AI', 'age': 22}
{'name': 'ahmed', 'class': 'AI', 'age': 20}

# dictionary of list

In [38]:
employee= {"name":"ammar","class":"AI","childrenname":["muhammad","zara","sara"]}

In [40]:
# access information from a dictionary list of 

print(employee["childrenname"] [0])

muhammad

In [41]:
print(employee["childrenname"] [1])
print(employee["childrenname"] [2])

zara
sara

In [44]:
employee["childrenname"] [0]

'muhammad'

# Dictionary of Dictionary

In [54]:
employee= {"name":"ammar","children":{"muhammad": {"age":10,"class":"4th"}, "zara": {"age":12,"class":"6th"} }}

In [55]:
# access infomation from a dictionary of dictionary
employee["children"] ["muhammad"]

{'age': 10, 'class': '4th'}

In [56]:
employee["children"] ["zara"] ["age"]

12

In [57]:
employee["children"] ["zara"] ["class"]

'6th'

# dictionary iterating items

In [62]:
 #          key : value 
student= {"name":"ahmed","class":"AI","program":"PIAIC","age":20}

In [63]:
for value in student.values():
    print(value)

ahmed
AI
PIAIC
20

In [64]:
for key in student.keys():
    print(key)

name
class
program
age