In [1]:
print("ammar")
print("ammar")
print("ammar")      # kese bhi chese ho eak say zyada print krwana ha tou loop use hota ha
print("ammar")
print("ammar")

ammar
ammar
ammar
ammar
ammar

In [3]:
 #   advantage of loop 
    
for a in range(5):
    print(a,"ammar")

0 ammar
1 ammar
2 ammar
3 ammar
4 ammar

In [4]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

In [5]:
for number in range(1,10):
    print(number)

1
2
3
4
5
6
7
8
9

In [6]:
for number in range(1,10,2):
    print(number)

1
3
5
7
9

In [10]:
for number in range(10,1,-2):
    print(number)

10
8
6
4
2

In [11]:
cities=["khi","lhr","islamabad"]
cities

['khi', 'lhr', 'islamabad']

In [12]:
for city in cities:
    print(city)

khi
lhr
islamabad

In [14]:
for city in cities:
    print(f"the city under construction is {city}")

the city under construction is khi
the city under construction is lhr
the city under construction is islamabad

In [15]:
for num in[11,22,33,44,55]:
    print(num)

11
22
33
44
55

In [16]:
country= "pakistan"
for char in country:
    print(char)

p
a
k
i
s
t
a
n

In [17]:
country= "pakistan","germany"
for char in country:
    print(char)

pakistan
germany

# For Loop Break and Continue

In [21]:
for number in range(10):
    if number% 3 == 1:
        break
    print(number)

0

In [28]:
for number in [5,7,11,9,2,15,16]:
    if number%2== 0:
        break             # num % 2 == 0 py break hojjye ga or agay print nhi hoga
    print(number)

5
7
11
9

In [24]:
for num in range(10):
    if num == 7:
        continue      # 7 is skip
    print(num)

0
1
2
3
4
5
6
8
9

In [29]:
for num in range(10):
    if num == 7 or num == 4:
        continue      # 7 , 4 is skip
    print(num)

0
1
2
3
5
6
8
9

# nested for loop

In [30]:
for a in range(5):
    print("inner loop is begin")
    for char in "china":
        print(a,char)

inner loop is begin
0 c
0 h
0 i
0 n
0 a
inner loop is begin
1 c
1 h
1 i
1 n
1 a
inner loop is begin
2 c
2 h
2 i
2 n
2 a
inner loop is begin
3 c
3 h
3 i
3 n
3 a
inner loop is begin
4 c
4 h
4 i
4 n
4 a

In [31]:
tablenumber= int(input("enter table number"))   # user input, type casting
for a in range(1,11):
    print(f"{tablenumber} * {a} = {tablenumber * a}")

enter table number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [33]:
table= int(input("enter table number"))
for table in range(2,table+1):
    for num in range(1,11):
        print(f"{table} * {num} = {table * num}")

enter table number5
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50